.loader {
  visibility: hidden;   
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 60px;
  height: 60px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.is-active {visibility: visible;}


.smart-pipedrive_page_wpspi-smart-pipedrive-mappings table select{
	width: 100%;
	padding: 8px;
}

.form-table.synch_settings th {
    width: 328px;
}

.form-table.synch_settings tr {
    display: inline-block;
    border: 1px solid #fff;
    padding: 0px 20px;
}

div.inline p {
    display: inline-flex;
}

div.inline p {
    padding-right: 10px;
}

div.inline p.success {
    color: green;
    font-size: 16px;
    font-weight: 600;
}